// COLOR VARIABLES
$color-primary: #6e36f2;
$color-primary-dark: #270950;
$color-primary-light: #f9f7f6;

$primary-rgba: rgba(128,72,255,.5);
$primary-dark-rgba: rgba(39,9,80,.3);

$color-secondary: #90fe1d;
$color-secondary-light: #BCFE77;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-display: 'Museo', sans-serif;
//RESPNSIVE BREAKPOINTS
$bp-largest: 75em; // 1200 px
$bp-large: 62.5em; // 1000 px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;//So 1 rem = 10px;
    @media only screen and (max-width: $bp-largest){
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    background-color: $color-primary-dark;
    display: grid;
    grid-template-rows: 55vh  60vw repeat(7,min-content) 4vh;
     //minmax(min-content,max-content) 30vh 4vh;
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] 
    repeat(6,[col-start] minmax(min-content, 14rem)[col-end]) [center-end] 1fr [full-end];//1140px/8= 14rem or 140px

    @media only screen and (max-width: $bp-largest){      
        //grid-template-rows:[sidebar-start]6rem[sidebar-end] 55vw 55vh 80vh minmax(min-content,max-content) 
     //minmax(min-content,max-content) 30vh 4vh;
     grid-template-rows: 55vh 55vh 80vh repeat(7,max-content) 4vh;
        grid-template-columns:[sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] 
    repeat(9,[col-start] minmax(min-content, 10rem)[col-end]) [center-end] 1fr [full-end];
    }
    @media only screen and (max-width: $bp-large){      
        //grid-template-rows:[sidebar-start]6rem[sidebar-end] 55vw 55vh 80vh minmax(min-content,max-content) 
     //minmax(min-content,max-content) 30vh 4vh;
     grid-template-rows: [sidebar-start] 6rem [sidebar-end] 65vh 55vh 80vh repeat(7,max-content) 4vh;
        grid-template-columns:repeat(12,1fr);
    }

    @media only screen and (max-width:$bp-medium){
        grid-template-rows: [sidebar-start]6rem[sidebar-end] 50vh 50vh 60vh minmax(min-content,max-content) 
     minmax(min-content,max-content) 40vh 40vh 4vh;
        grid-template-columns: repeat(16,1fr);
    }

    @media only screen and (max-width:$bp-small){
         grid-template-rows: [sidebar-start]6rem[sidebar-end] 65vh 75vh 80vh minmax(min-content,max-content) 
        minmax(min-content,max-content) 30vh 4vh;
        grid-template-columns: repeat(18,1fr);     
    }
}

.pagecontainer{
    background-color: $color-primary-dark;
    display:grid;
    grid-template-rows:[header-start]25%[header-end content-start] 50% [content-end footer-start] 10% [footer-end];    ;
    grid-template-columns: [sidebar-start] 4rem [sidebar-end full-start]
    minmax(15rem, 1fr) [full-end];
    
}
.cryptocontainer{
    background-color:$color-grey-dark-2;
    display:grid;
    //grid-template-rows:  20vh 25vh repeat(minmax(15rem,min-content),8);
    //grid-template-columns:[sidebar-start] 4rem [sidebar-end full-start] repeat(minmax(15rem, 1fr),8) [full-end];
    grid-template-rows: [header-start]min-content [header-end newsfeed-start] min-content [newsfeed-end content-start] min-content [content-end footer-start] max-content [footer-end];
    grid-template-columns:[sidebar-start] 4rem [sidebar-end full-start] repeat(minmax(15rem, 1fr),8) [full-end];

  //  @media only screen and (max-width: $bp-large){
   //     grid-template-rows: [header-start]min-content [header-end newsfeed-start] min-content [newsfeed-end content-start] max-content [content-end footer-start] max-content [footer-end];
   //     grid-template-columns:[sidebar-start] 4rem [sidebar-end full-start] repeat(minmax(15rem, 1fr),8) [full-end];
  //  }


}

.memescontainer{
    background-color: $color-primary-dark;
    display:grid;
    grid-template-rows:auto;
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(5rem, 1fr) [full-end];
    @media only screen and (max-width: $bp-large){
        grid-template-rows: auto;
        grid-template-columns:[sidebar-start] 4rem [sidebar-end full-start] repeat(minmax(15rem, 1fr),8) [full-end];
    }


}