.cryptopick {
	background-color: $color-primary;
	grid-column: center-start / center-end;
	grid-template-columns: repeat(3,1fr);
	display: grid;
	grid-gap: 3rem;
	width:100%;
	grid-column-gap: .5rem;
	&__provider{
		margin-top:30rem;
		margin-left:15rem;
		text-align:center;
		font-family: $font-display;
		position:relative;	
		font-size: 2rem;
	}
}

.crypto{
	background-color: $color-primary-light;	
	justify-content:end;
	display:grid;
	grid-template-columns: repeat(2,1fr);
	//height:55rem;
	grid-row-gap: .5rem;
	&__img{
		width:50%;
		margin-top:1px;
		height:100%;
		grid-column: 1 / -1;
		grid-row: 1/2;
		z-index:11;
		height: 18rem;
	}
	&__logo{
		justify-self: end;
		margin: .5rem;
		z-index: 12;
		fill: $color-primary;
		height: 4.5rem;
		width: 4.5rem;
		grid-row: 1/2;
		grid-column: 2/3;
	}
	&__name {
		width:80%;
		grid-column: 1/-1;
		justify-self: center;
		font-family: $font-display;
		font-size: 1.6rem;
		text-align: center;
		padding: 1.25rem;
		opacity:.8;
		background-color: $color-secondary-light;
		font-weight: 400;
		color: $color-primary;
		transform: translateY(-75%);
		z-index:25;
	}
	&__name a {
		text-decoration:none;
		pointer:cursor;
		color: $color-primary;
	}
	&--gecko{
		margin-top: 5rem;
		margin-left:0rem;
		grid-column: 2/3;
	}
	&__price, &__ath{
		margin-top: -2.5rem;
	}

	&__ath, &__quantity {
		margin-left: -30rem;
	}
	&__link:link, &__link:visited{
		cursor:pointer;
	}
	&__price,
	&__quantity, 
	&__ath, 
	&__mcap {
		font-weight: 500;
		font-family: $font-display;
		font-size: 1.4rem;
		margin-left: 1rem;

		display: flex;
		align-items:center;

		svg{
			fill: $color-primary;
			height: 2rem;
			width: 2rem;
			margin-right: 1rem;
		}
	}
	&__btn{
		grid-column: 1/-1;
	}
}
