.footer{
z-index:10000;
background-color: $color-primary-dark;
//grid-row: ;
//grid-row:13/14;
transition:all .2s;
position:fixed;
bottom:0;
grid-column:1/-1;
//opacity: 0;
}
.footer:hover{
	opacity:1;
}

.nav{
	list-style:none;
	display: grid;
	height: 3rem;
	align-items:center;

	grid-template-columns: repeat(6, minmax(7.5rem,min-content));
	margin-left:25rem;
	justify-items:space-evenly;
	justify-content:center;
	grid-gap:2rem;
	align-items:end;
	transition: all .3s;
	&__link:link,
	&__link:visited{
		align-self:start;
		font-size: 1.5rem;
		color:$color-primary;
		text-decoration: none;
		font-family: $font-display;
		text-transform:uppercase;
		text-align:center;
		background-color: rgba($color-secondary,.7);
		padding: 1.5rem;
		display:block;
		font-weight:400;
	}

	&__link:hover,
	&__link:active {
		background-color: rgba(#fff,.2);
		transform:translateY(-3px);
		font-weight:500;
		color: $color-secondary;
	}
	margin-right:2rem;
	margin-bottom:2rem;
}

.copyright{
	background-color: rgba(#000,1);
	opacity:.8;
	font-family: $font-display;
	font-weight:500;
	font-size: 1.4rem;
	color: $color-primary;

	margin-right:auto;
	margin-left:auto;
	text-align:center;
}

.copyright a:link, a:visited{
	text-decoration:none;
	color: $color-primary;
}
.copyright a:hover{
	color: $color-secondary;
}